.editor-component {
    background-image: linear-gradient(0deg,#fff,#eef7ff);
    margin: 0px auto;
    padding: 30px 20px;
}

.editor-container {
    max-width: 900px;
    background-color:#dcedf9;
    border-radius: 100px;
    margin: 10px auto;
    padding: 50px 40px;
}

.editor-page {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 24px 24px -18px rgba(69,104,129,.33),0 9px 45px 0 rgba(114,119,160,.12);
    padding: 70px 50px;
    font-size: 16px;
    box-sizing: border-box;
}

.editor {
    font-size: 16px;
}